*{
    margin: 0px;
    padding: 0px;
}
body{
    min-height: 100vh;
    background-image: url(D:\project\mycv\mycv\src\assets\imgs\header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: white;
    box-shadow: 3px 3px 5px black;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
    font-weight: 400;
}
nav .an{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav li:hover{
    background-color: aliceblue;
}
nav li:first-child{
    margin-right: auto;
    font-size: 25px;
}

.Sidebar{
    position: fixed;
    height: 100vh;
    right: 0px;
    top: 0px;
    width: 220px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.493);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgb(0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.Sidebar li{
    width: 100%;
}
.Sidebar .an{
    width: 100%;
}
@media(max-width: 800px){
    .HideonMobile{
        display: none;
    }
}